@import url('https://fonts.googleapis.com/css?family=Ranga');

body {
  background: ;
    background-height: 100%;
  color: black;
  font-family: 'Ranga', cursive;
    font-size: 200%;
}

svg {
  background:url('http://news.mit.edu/sites/mit.edu.newsoffice/files/images/2015/MIT-Deep-Ocean-Waves-01_0.jpg');
  display: block;
  margin: auto;
}
